.showContainer{
    width:100%;
    height:calc(100vh - 60px);
    padding: 10px;
    /* border:1px solid black; */
    display: flex;
}

.productFilters{
    width:250px;
    height:100%;
    /* border:1px solid green; */
}

.products{
    width:calc(100% - 250px);
    height:100%;
    overflow-y: scroll;
    /* border:1px solid green; */
}

.product{
    width:100%;
    height:250px;
    /* border:1px solid rgb(67, 19, 156); */
    display: grid;
    grid-template-columns: 400px calc((100% - 400px));
}
.productImage{
    width:400px;
    height: 250px;
    /* border:1px solid rgb(19, 156, 99); */
    position: relative;
}

.productDescription{

}